@{
    ViewBag.Title = "Afiliate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="mbr-section mbr-parallax-background mbr-after-navbar" id="form1-q" style="background-image: url(../assets/images/mbr-2000x1333.jpg); padding-top: 120px; padding-bottom:20%;">

    <div class="mbr-section mbr-section__container mbr-section__container--middle">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-xs-center">
                    <h3 class="mbr-section-title display-2">Afiliate a nosotros &nbsp;</h3>
                    <small class="mbr-section-subtitle">Al estar afiliado podras tener aceso a nuestro portal para gestionar los servicios que adquieres así como ver el estatus de cada uno de ellos, beneficiarte de promociones y descuentos en servicios, nosotros te decimos como...</small>
                </div>
            </div>
        </div>
    </div>
    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">



                <div data-form-alert="true">
                   
                </div>

                <div class="row row-sm-offset">

                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" for="form1-q-name">Nombre<span class="form-asterisk">*</span></label>
                            <input type="text" class="form-control" name="Nombre" required="" data-form-field="Name" id="form1-q-name">
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" for="form1-q-apapaterno">Apellido Paterno<span class="form-asterisk">*</span></label>
                            <input type="text" class="form-control" name="ApPAterno" required="" data-form-field="apepat" id="form1-q-apapaterno">
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" for="form1-q-apemat">Apellido Materno<span class="form-asterisk">*</span></label>
                            <input type="text" class="form-control" name="ApMat" required="" data-form-field="apemat" id="form1-q-apemat">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" for="form1-q-email">email<span class="form-asterisk">*</span></label>
                            <input type="text" class="form-control" name="email" required="" data-form-field="email" id="form1-q-email">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" for="form2-q-tel">Teléfono<span class="form-asterisk">*</span></label>
                            <input type="text" class="form-control" name="tel" required="" data-form-field="pass" id="form2-q-tel">
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        <div class="form-group">
                            <label class="form-control-label" for="form2-q-pass">Password<span class="form-asterisk">*</span></label>
                            <input type="password" class="form-control" name="pass" required="" data-form-field="pass" id="form2-q-pass">
                        </div>
                    </div>

                </div>

               
                <div><button id="BtnAltaUsuario" type="submit" style=" display:block;" class="btn btn-primary">ENVIAR</button></div>

            </div>
        </div>
    </div>



</section>