@{
    ViewBag.Title = "Home Page";
}

<section class="mbr-section mbr-section-hero mbr-section-full mbr-parallax-background mbr-section-with-arrow mbr-after-navbar" id="header1-5" style="background-image: url(../assets/images/mbr-2000x2666.jpg);">



    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">

                    <h1 class="mbr-section-title display-1"><span style="font-weight: normal;">Bienvenido a UX iSolutions</span></h1>
                    <p class="mbr-section-lead lead">La experiencia mas rápida y confiable para&nbsp;tu dispositivo móvil.</p>
                    <div class="mbr-section-btn"> <a class="btn btn-lg btn-white btn-white-outline" href="#contacts4-9">Contactanos</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#features6-m"><i class="mbr-arrow-icon"></i></a></div>

</section>

<section class="mbr-cards mbr-section mbr-section-nopadding" id="features6-m" style="background-color: rgb(239, 239, 239);">



    <div class="mbr-cards-row row">
        <div class="mbr-cards-col col-xs-12 col-lg-2" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><span class="mbri-speed mbr-iconfont mbr-iconfont-features3"></span></div>
                    <div class="card-block">
                        <h4 class="card-title">LIBERACION  IPHONE&nbsp;</h4>

                        <p class="card-text"><span style="font-size: 1rem; line-height: 1.5;">XR, XS, XS MAX - de 1 a 12 HRS <strong> Precios en </strong>MXN<br> X y 8 DE 1 A 12 HRS - <strong>Precios en </strong>MXN</span><br /><span style="font-size: 1rem; line-height: 1.5;">7 Y 7P DE 1 A 12 HRS - </span><strong>Precios en</strong><span style="font-size: 1rem; line-height: 1.5;"> MXN</span><br>6S/6SP/SE &nbsp;DE 1 A 12 HRS - <strong>Precios en</strong> MXN<br>6/6P DE 1 A 12 HRS - <strong>Precios en</strong> MXN<br>5S/5C/5 DE 1 A 2 HRS - <strong>Precios en</strong> MXN<br>4/4S DE 1 A 2 HRS - <strong>Precios en </strong>MXN<br><br><br></p>

                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-2" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><span class="mbri-mobile mbr-iconfont mbr-iconfont-features3"></span></div>
                    <div class="card-block">
                        <h4 class="card-title">LIBERACION IPHONE PREMIUM</h4>
                        <p class="card-text"><strong>Próximamente</strong> MXN</p>
                        @*<p class="card-text">AT&amp;T US DE 24 A 72 HRS - <strong>Precios en</strong> MXN</p>*@

                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-2" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><span class="mbri-search mbr-iconfont mbr-iconfont-features3"></span></div>
                    <div class="card-block">
                        <h4 class="card-title">SERVCIO CHECK BY GSX</h4>

                        <p class="card-text">DE 30 A 120 MIN. (IMEI+SERIE+CARRIER+STATUS)<br><strong>Precios en</strong> MXN</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-2" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><span class="mbri-sale mbr-iconfont mbr-iconfont-features3"></span></div>
                    <div class="card-block">
                        <h4 class="card-title">NUMERO ASOCIADO</h4>

                        <p class="card-text">TELCEL DE 1 A 6 HRS <strong>Precios en</strong> MXN</p>
                        <p class="card-text">At&T DE 1 A 6 HRS <strong>Precios en</strong> MXN</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="mbr-cards-col col-xs-12 col-lg-2" style="padding-top: 80px; padding-bottom: 80px;">
            <div class="container">
                <div class="card cart-block">
                    <div class="card-img"><span class="mbri-credit-card mbr-iconfont mbr-iconfont-features3"></span></div>
                    <div class="card-block">
                        <h4 class="card-title">FACTURA TELCEL&nbsp;</h4>

                        <p class="card-text">DE 1 A 12 HRS <strong>Precios en</strong> MXN</p>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="mbr-footer footer4 mbr-section mbr-section-md-padding" id="contacts4-9" style="background-color: rgb(46, 46, 46); padding-top: 90px; padding-bottom: 90px;">

    <div class="container">
        <div class="mbr-contacts row">
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-sm-6">
                        <p>
                            <strong>Dirección</strong><br>Estamos en el sur de la ciudad de México<br><br><br>
                            <strong>Contacto</strong><br>
                            Email: registro@uxisolutions.com<br>
                            Phone: +52 1 55 5213 53 96&nbsp;<br><br>
                        </p>
                    </div>
                    <div class="col-sm-6"><p class="mbr-contacts__text"><strong>Links</strong></p><ul class="mbr-contacts__list"><li>Facebook</li><li>Twitter</li><li>Instagram</li></ul></div>
                </div>
            </div>
            <div class="col-sm-4" data-form-type="formoid">
                <div data-form-alert="true">
                    <div hidden="@ViewBag.Msj" data-form-alert-success="true">Gracias por escribirnos nosotros te contactamos!</div>
                </div>
                <form action="/index/ContactameIN" method="post" data-form-title="MESSAGE">
                    <input type="hidden" value="" data-form-email="true">

                    <div class="form-group">
                        <label class="form-control-label" for="contacts4-9-email">Email<span class="form-asterisk">*</span></label>
                        <input type="email" class="form-control input-sm input-inverse" name="email" required="" data-form-field="Email" id="contacts4-9-email">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="contacts4-9-phone">Teléfono<span class="form-asterisk">*</span></label>
                        <input type="tel" class="form-control input-sm input-inverse" name="phone" required="" data-form-field="Phone" id="contacts4-9-phone">
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" for="contacts4-9-message">Mensaje</label>
                        <textarea class="form-control input-sm input-inverse" name="message" data-form-field="Message" rows="4" id="contacts4-9-message"></textarea>
                    </div>
                    <div class="mbr-buttons mbr-buttons--right btn-inverse"><button type="submit" class="btn btn-sm btn-black">Contactanos</button></div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="mbr-section mbr-section-md-padding" id="social-buttons2-i" style="background-color: rgb(255, 255, 255); padding-top: 30px; padding-bottom: 30px;">

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-xs-center">
                <h3 class="mbr-section-title display-2">SIGUENOS</h3>
                <div><a class="btn btn-social" title="Twitter" target="_blank" href="https://twitter.com/"><i class="socicon socicon-twitter"></i></a> <a class="btn btn-social" title="Facebook" target="_blank" href="https://www.facebook.com/"><i class="socicon socicon-facebook"></i></a>  <a class="btn btn-social" title="YouTube" target="_blank" href="https://www.youtube.com/"><i class="socicon socicon-youtube"></i></a> <a class="btn btn-social" title="Instagram" target="_blank" href="https://instagram.com/"><i class="socicon socicon-instagram"></i></a>      </div>
            </div>
        </div>
    </div>
</section>

<script>
    function contactaUxi() {
        var a = $('#contacts4-9-email').val();
        var b = $('#contacts4-9-phone').val();
        var c = $('#contacts4-9-message').val();
        alert(a);
        $.ajax({
            type: "POST",
            dataType: 'json',
            contentType: 'application/json',
            url: "/index/ContactameIN",
            data: JSON.stringify({ email: a, telefono: b, mensaje: c }),
            success: function (data) {

            },
            error: function (data) {
                showMessageType("danger", "¡tuvimos un problema!");
            }

        })
    }

</script>