<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="uxisolutionbdEntities" connectionString="metadata=res://*/uxiModel.csdl|res://*/uxiModel.ssdl|res://*/uxiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MQUNUSK\SQLEXPRESS;initial catalog=uxisolutionbd;user id=sa;password=123qaz;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
        <add name="uxisolutionbdEntities" connectionString="metadata=res://*/uxiModel.csdl|res://*/uxiModel.ssdl|res://*/uxiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:ae8r3si4t5.database.windows.net,1433;initial catalog=uxisolutionbd;user id=nmCosmetics@ae8r3si4t5;password=@dminNMC;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    <!--<add name="uxisolutionbdEntities" connectionString="metadata=res://*/uxiModel.csdl|res://*/uxiModel.ssdl|res://*/uxiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:ae8r3si4t5.database.windows.net,1433;initial catalog=uxisolutionbd;user id=nmCosmetics@ae8r3si4t5;password=@dminNMC;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--><add name="uxisolutionbdEntities" connectionString="metadata=res://*/uxiModel.csdl|res://*/uxiModel.ssdl|res://*/uxiModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:b2bpruebas.database.windows.net,1433;initial catalog=UxiSolutionQA;user id=testB2B@b2bpruebas;password=Uxi20181007;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>
